#board {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: auto;
  display: none;
  border-radius: 5px;
}
.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: block;
  float: left;
  box-sizing: border-box;
  padding-top: 20px;
  text-align: center;
  font-size: 60px;
  line-height: 1;
  border-radius: 5px;
}

#resetBtn {
  display: none;
}

h1,
h2,
h3 {
  text-align: center;
  color: blue;
}
